{% extends "frontend/base.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/themes/default/frontend/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ setting.site_title }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ setting.site_description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                <div class="post-preview">
                    <a href="/{{post.slug}}/" title="{{post.title}}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.body}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{post.member.name}}</a> on {{post.created_at | date:"jS F Y"}}</p>
                </div>
                {% endfor %}
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
