{% extends "frontend/base.html" %}

{% block title %}{{post.title}} - {{setting.site_title}}{% endblock %}
{% block description %}{{post.title}}{% endblock %}


{% block content %}   


<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('http://lorempixel.com/g/1872/475/nature/');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">Posted by <a href="/author/{{ post.member.slug }}">{{post.member.name}}</a> on {{post.created_at | date:"jS F Y"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{post.body|safe}}
                </div>
            </div>
        </div>
    </article>

    <hr>


{% endblock %}
